aiohttp 
aiofiles
asyncio
cryptography
dnspython
ffmpeg-python
future
gitpython
pyrogram==1.4.12
hurry.filesize
heroku3
motor
pillow
psutil
python-dotenv
pyromod
py-tgcalls==0.8.6
requests
search-engine-parser
tgcrypto
uvloop
wget
youtube-search-python
youtube-search
telegraph
regex
html5lib
aiohttp
aiofiles
asyncio
dnspython
ffmpeg-python
future
git+https://github.com/Ressowork/Downloadr@master
motor
pillow
psutil
py-tgcalls
python-dotenv
requests
tgcrypto
wget
youtube-search
youtube-search-python
